form{
    max-width: 650px;
    padding: 20px;
    margin: 2rem auto;
    border: 1px solid darkblue;
    border-radius: 15px;
    font-family: emoji;
    font-size: 17px;
}

h2{
    color: #1d559f;
    font-size: 33px;
}
